/Assignment1/nbproject/private/
/Assignment1/build/
/Assignment1/dist/
/Assignment2/nbproject/private/
/Assignment2/build/
/Assignment2/dist/
/Assignment4/nbproject/private/
/Assignment4/build/
/Assignment4/dist/
/Assignment5/nbproject/private/
/Assignment5/build/
/Assignment5/dist/